.messenger {
  display: grid;
  width: 100%;
  height: 100vh;
  background: #eeeef1;

  grid-template-columns: 350px auto;
  grid-template-rows: 60px auto 60px;
  grid-column-gap: 1px;
  grid-row-gap: 1px;
}


.scrollable {
  position: relative;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.sidebar, #sidebar {
  background: rgb(35,37,38) !important;
  grid-row-start: 1;
  grid-row-end: span 3;
  transition: all 0.2s;
  z-index: 5;
}


.content {
  background: rgb(27,31,35) !important;
  grid-row-start: 1;
  transition: all 0.2s;
  grid-row-end: span 3;
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -19rem !important;
  }
  #sidebar {
    position: fixed !important;
  }
  .content {
    position: absolute !important;
  }
}


.footer {
  grid-column-start: 2;
  background: white;
}