body {
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    overflow-x: hidden;
}




.avatar{
    width: 40px;
    border: 3px solid red;
}

@media only screen and (max-width: 768px) {
    #post-input{
        display: none;
    }
}

#post-input {
    position: fixed;
}

#mobile-btn {
    position: fixed;
    right: 5%;
    bottom: 2%;
    font-size: 20px;
    border-radius: 50%;
    display: none;
}


@media only screen and (max-width: 768px) {
    #mobile-btn {
        display: block;
    }
    #post-input{
        display: none;
    }
}
