body {
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/* like unlike button */
#react-button {
    margin-right: 30px;
    border: none;
    background: none;
    outline: none;
    font-size: 20px;
}

#react-button:active {
    animation: shake 0.5s;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
}



.avatar{
    width: 40px;
    border: 3px solid red;
}

@media only screen and (max-width: 768px) {
    #post-input{
        display: none;
    }
}

/* comment box */
.comment{
    display: flex;
}
.comment-box{
    border-radius: 20px;
    margin-left: 15px;
}


#mobile-btn {
    position: fixed;
    right: 5%;
    bottom: 5%;
    font-size: 20px;
    border-radius: 50%;
    display: none;
}


@media only screen and (max-width: 768px) {
    #mobile-btn {
        display: block;
    }
    #post-input{
        display: none;
    }
}
