/*
overwriting colors for dark mode

background, card = rgb(27,31,35)
side bar, navbar = rgb(35,37,38)
dropdown, popover = rgb(58,59,60)
all text color = white
*/




a {
    color: white !important;
}

.navbar {
    border-bottom: rgb(58,59,60) solid 1px;
    background: rgb(35,37,38) !important;
}

.card {
    background: rgb(35,37,38) !important;
    color: white;
}

.nav-item:focus, .nav-item:visited {
    background: rgb(35,37,38) !important;
}

.dropdown-menu{
    background: rgb(35,37,38) !important;
}

.dropdown-item:hover {
    background: rgb(58,59,60) !important;
}

.dropdown-item {
    border-bottom: none;
}


.card-header{
    border-bottom: rgb(58,59,60) solid 1px !important;
}

input, textarea {
    background: rgb(58,59,60) !important;
    border: none;
    color: white !important;
}

.modal-content {
    background: rgb(35,37,38) !important;
}

.your-name {
    color: white;
    margin-right: 3rem;
}

.popover-header {
    background: rgb(52,58,64) !important;
}

.list-group-item {
    background: rgb(52,58,64) !important;
}