

#left-side-search{
    border-radius: 20px;
    padding-left: 10px;
}

#left-side-search:focus{
    outline: none;
}


.vertical-nav {
    width: 19rem;
    height: 100vh;
    position: fixed;
    transition: all 0.4s;
    z-index: 5;
    background: rgb(35,37,38) !important;
}


@media (max-width: 768px) {
    #sidebar {
        margin-left: -19rem;
    }
    .vertical-nav{
        top: 5rem;
    }

}
