

#left-side-search{
    border-radius: 20px;
    padding-left: 10px;
}

#left-side-search:focus{
    outline: none;
}


.vertical-nav {
    width: 19rem;
    height: 100vh;
    position: fixed;
    transition: all 0.4s;
    z-index: 5;
    background: #8DD228;
    background: -webkit-linear-gradient(top left, #8DD228, #D945EC);
    background: -moz-linear-gradient(top left, #8DD228, #D945EC);
    background: linear-gradient(to bottom right, #8DD228, #D945EC);
}


@media (max-width: 768px) {
    #sidebar {
        margin-left: -19rem;
    }
    .vertical-nav{
        top: 10%;

    }

    #left-side-search{
        display: none;
    }
}
