/* comment box */
.comment{
    align-items: center;
}
.comment-box{
    border-radius: 20px;
    width: 100%;
    padding-left: 10px;
    padding-right: 2rem;

}

#send-icon {
    position: absolute;
    right: 30px;
    color: green;
    bottom: 1rem;
    font-size:18px;
}
