
#loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    color: white;
}

#group-name {
    font-size: 1rem;
    color: #6c757d!important;

}



@media only screen and (max-width: 768px) {
    .post {
        margin-top: 0px;
    }
}

.dropdown-toggle {
    background: none !important;
    border: none !important;
}