#search-input {
    border-radius: 20px;
    width: 250px;
    padding-left: 13px;
}

#search-input:focus {
    outline: none;
}

.mobile-header {
    display: flex;
    align-items: center;
}



@media only screen and (min-width: 768px) {
    .mobile-header {
        display: none;
    }
    #mobile-userpanel{
        display: none;
    }
}
